---
# Helm values based on version chart version 5.46.7
# https://raw.githubusercontent.com/argoproj/argo-helm/argo-cd-5.46.7/charts/argo-cd/values.yaml

## Argo CD configuration
## Ref: https://github.com/argoproj/argo-cd
##

# -- Provide a name in place of `argocd`
nameOverride: "{{ argocd_alias }}"

## Globally shared configuration
global:
  # -- Default domain used by all components
  ## Used for ingresses, certificates, SSO, notifications, etc.
  domain: "{{ argocd_alias }}.{{ universe.environment }}.{{ universe.domain }}"
  # -- Common labels for the all resources
  additionalLabels:
{{ platform_office_hour_support_devops_labels | to_nice_yaml(width=1337) | indent(4,true) }}

  # -- Number of old deployment ReplicaSets to retain. The rest will be garbage collected.
  revisionHistoryLimit: 3

  # Default logging options used by all components
  logging:
    # -- Set the global logging format. Either: `text` or `json`
    format: json
    # -- Set the global logging level. One of: `debug`, `info`, `warn` or `error`
    level: info

  
## Argo Configs
configs:
  # General Argo CD configuration. Any values you put under `.configs.cm` are passed to argocd-cm ConfigMap.
  ## Ref: https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/argocd-cm.yaml
  cm:
    # -- Create the argocd-cm configmap for [declarative setup]
    create: true

    # -- Annotations to be added to argocd-cm configmap
    annotations: {}

    # -- Enable Status Badge
    ## Ref: https://argo-cd.readthedocs.io/en/stable/user-guide/status-badge/
    statusbadge.enabled: true

    # OIDC configuration as an alternative to dex (optional).
    oidc.config: |
      name: {{ oidc_provider_name }}
      issuer: {{ oidc_provider_url }}
      clientID: {{ argocd.oidc.client.id }}
      clientSecret: {{ argocd.oidc.client.secret }}
      requestedScopes: ["openid", "email", "groups"]
{% if "pki2" in argocd %}
      rootCA: |
        {{ argocd.pki2.ca_cert | join('\n        ') }}
{% endif %}

    # Make sure Ingress state is not staying in Progressing state
    resource.customizations: |
      networking.k8s.io/Ingress:
        health.lua: |
          hs = {}
          hs.status = "Healthy"
          return hs

  # Argo CD configuration parameters
  ## Ref: https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/argocd-cmd-params-cm.yaml
  params:
    # -- Create the argocd-cmd-params-cm configmap
    # If false, it is expected the configmap will be created by something else.
    create: true

    # -- Annotations to be added to the argocd-cmd-params-cm ConfigMap
    annotations: {}

  # Argo CD RBAC policy configuration
  ## Ref: https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/rbac.md
  rbac:
    # -- Create the argocd-rbac-cm configmap with ([Argo CD RBAC policy]) definitions.
    # If false, it is expected the configmap will be created by something else.
    # Argo CD will not work if there is no configmap created with the name above.
    create: true

    # -- Annotations to be added to argocd-rbac-cm configmap
    annotations: {}

    # -- The name of the default role which Argo CD will falls back to, when authorizing API requests (optional).
    # If omitted or empty, users may be still be able to login, but will see no apps, projects, etc...
    policy.default: 'role:readonly'

    # -- File containing user-defined policies and role definitions.
    # @default -- `''` (See [values.yaml])
    policy.csv: |
      p, role:developers, applications, *, dev/*, allow
      p, role:developers, applications, get, */*, allow
      p, role:developers, logs, get, */*, allow
      p, role:org-admin, applications, *, */*, allow
      p, role:org-admin, clusters, get, *, allow
      p, role:org-admin, repositories, get, *, allow
      p, role:org-admin, repositories, create, *, allow
      p, role:org-admin, repositories, update, *, allow
      p, role:org-admin, repositories, delete, *, allow
      g, users, role:developers
      g, administrators, role:org-admin
    # -- OIDC scopes to examine during rbac enforcement (in addition to `sub` scope).
    # The scope value can be a string, or a list of strings.
    scopes: "[groups]"

    # -- Matcher function for Casbin, `glob` for glob matcher and `regex` for regex matcher.
    policy.matchMode: "glob"

  # SSH known hosts for Git repositories
  ## Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#ssh-known-host-public-keys
  ssh:
    # -- Additional known hosts for private repositories
    extraHosts: "{{ argocd.github.known_hosts }}"

  # Repository TLS certificates
  # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#repositories-using-self-signed-tls-certificates-or-are-signed-by-custom-ca
  tls:
    # -- Annotations to be added to argocd-tls-certs-cm configmap
    annotations: {}

    # -- TLS certificates for Git repositories
    # @default -- `{}` (See [values.yaml])
    certificates:
{{ argocd.tls.certificates | to_nice_yaml(width=100) | indent(6,true) }}
    # -- Specifies if the argocd-tls-certs-cm configmap should be created by Helm.
    create: true

  # -- Provide one or multiple [external cluster credentials]
  # @default -- `{}` (See [values.yaml])
  ## Ref:
  ## - https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#clusters
  ## - https://argo-cd.readthedocs.io/en/stable/operator-manual/security/#external-cluster-credentials
  ## - https://argo-cd.readthedocs.io/en/stable/user-guide/projects/#project-scoped-repositories-and-clusters
  clusterCredentials:
{{ argocd.cluster.credentials | to_nice_yaml(width=1337) | indent(4,true) }}
  
  # Argo CD sensitive data
  # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/#sensitive-data-and-sso-client-secrets
  secret:
    # -- Create the argocd-secret
    createSecret: true
    
    # -- Shared secret for authenticating GitHub webhook events
    githubSecret: "{{ argocd.github.webhook.secret }}"
        
    # -- Bcrypt hashed admin password
    ## Argo expects the password in the secret to be bcrypt hashed. You can create this hash with
    ## `htpasswd -nbBC 10 "" $ARGO_PWD | tr -d ':\n' | sed 's/$2y/$2a/'`
    argocdServerAdminPassword: "{{ argocd.server.admin_password | password_hash('bcrypt') }}"
    # -- Admin password modification time. Eg. `"2006-01-02T15:04:05Z"`
    # @default -- `""` (defaults to current time)
    argocdServerAdminPasswordMtime: ""
  
# -- Array of extra K8s manifests to deploy
## Note: Supports use of custom Helm templates

## Application controller
controller:  
  # -- Resource limits and requests for the application controller pods
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

## Redis
redis:
  # -- Resource limits and requests for redis
  resources:
    limits:
      cpu: 200m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi

## Server
server:
  # -- Resource limits and requests for the Argo CD server
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi

  # Argo CD server ingress configuration
  ingress:
    # -- Enable an ingress resource for the Argo CD server
    enabled: {{ argocd_helm_ingress }}
    # -- Specific implementation for ingress controller. One of `generic`, `aws` or `gke`
    ## Additional configuration might be required in related configuration sections
    controller: generic
    # -- Additional ingress labels
    labels: {}
    # -- Additional ingress annotations
    annotations:
{{ ingress_tls.prod.annotations | to_nice_yaml(width=1337) | indent(6,true) }}

    # -- Defines which ingress controller will implement the resource
    ingressClassName: "traefik"

    # -- Argo CD server hostname
    # @default -- `""` (defaults to global.domain)
    hostname: "{{ argocd_alias }}.{{ universe.environment }}.{{ universe.domain }}"

    # -- The path to Argo CD server
    path: /

    # -- Ingress path type. One of `Exact`, `Prefix` or `ImplementationSpecific`
    pathType: Prefix

    # -- Enable TLS configuration for the hostname defined at `server.ingress.hostname`
    ## TLS certificate will be retrieved from a TLS secret `argocd-server-tls`
    ## You can create this secret via `certificate` or `certificateSecret` option
    tls: true

    # -- The list of additional hostnames to be covered by ingress record
    # @default -- `[]` (See [values.yaml])
    extraHosts: []
      # - name: argocd.example.com
      #   path: /

    # -- Additional ingress paths
    # @default -- `[]` (See [values.yaml])
    ## Note: Supports use of custom Helm templates
    extraPaths: []
      # - path: /*
      #   pathType: Prefix
      #   backend:
      #     service:
      #       name: ssl-redirect
      #       port:
      #         name: use-annotation

    # -- Additional ingress rules
    # @default -- `[]` (See [values.yaml])
    ## Note: Supports use of custom Helm templates
    extraRules: []
      # - http:
      #     paths:
      #     - path: /
      #       pathType: Prefix
      #       backend:
      #         service:
      #           name: '\{\{ include "argo-cd.server.fullname" . \}\}'
      #           port:
      #             name: '\{\{ .Values.server.service.servicePortHttpsName \}\}'

    # -- Additional TLS configuration
    # @default -- `[]` (See [values.yaml])
    extraTls: []
      # - hosts:
      #   - argocd.example.com
      #   secretName: your-certificate-name
    
## Repo Server
repoServer:
  # -- Additional containers to be added to the repo server pod
  ## Ref: https://argo-cd.readthedocs.io/en/stable/user-guide/config-management-plugins/
  ## Note: Supports use of custom Helm templates
  extraContainers:
    - name: avp-helm-source
      command: [/var/run/argocd/argocd-cmp-server]
      image: {{ argocd_extra_container_images.helm_avp }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /tmp
          name: tmp

        # Register plugins into sidecar
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: avp-helm-source.yaml
          name: cmp-avp-plugin

        # Mount tools into $PATH
        - mountPath: /usr/local/bin/argocd-vault-plugin
          subPath: argocd-vault-plugin
          name: custom-tools

        # Mount vault config secret!
        - mountPath: /home/argocd/cmp-server/config/vault-configuration.yaml
          subPath: vault-configuration.yaml
          name: vault-config

    - name: avp-helm
      command: [/var/run/argocd/argocd-cmp-server]
      image: {{ argocd_extra_container_images.helm_avp }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /tmp
          name: tmp

        # Register plugins into sidecar
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: avp-helm.yaml
          name: cmp-avp-plugin

        # Mount tools into $PATH
        - mountPath: /usr/local/bin/argocd-vault-plugin
          subPath: argocd-vault-plugin
          name: custom-tools

        # Mount vault config secret!
        - mountPath: /home/argocd/cmp-server/config/vault-configuration.yaml
          subPath: vault-configuration.yaml
          name: vault-config

    - name: avp-kustomize
      command: [/var/run/argocd/argocd-cmp-server]
      image: {{ argocd_extra_container_images.kustomize }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /tmp
          name: tmp

        # Register plugins into sidecar
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: avp-kustomize.yaml
          name: cmp-avp-plugin

        # Mount tools into $PATH
        - mountPath: /usr/local/bin/argocd-vault-plugin
          subPath: argocd-vault-plugin
          name: custom-tools

        # Mount vault config secret!
        - mountPath: /home/argocd/cmp-server/config/vault-configuration.yaml
          subPath: vault-configuration.yaml
          name: vault-config

    - name: avp
      command: [/var/run/argocd/argocd-cmp-server]
      image: {{ argocd_extra_container_images.kustomize }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins

        # Register plugins into sidecar
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: avp.yaml
          name: cmp-avp-plugin

        # Mount tools into $PATH
        - mountPath: /usr/local/bin/argocd-vault-plugin
          subPath: argocd-vault-plugin
          name: custom-tools

        # Mount vault config secret!
        - mountPath: /home/argocd/cmp-server/config/vault-configuration.yaml
          subPath: vault-configuration.yaml
          name: vault-config

  # -- Init containers to add to the repo server pods
  initContainers:
    - name: download-tools
      image: {{ argocd_init_container_images.download_tools }}
      env:
        - name: AVP_VERSION
          value: 1.18.1
      command: [ sh, -c]
      args:
        - >-
          curl -L https://github.com/argoproj-labs/argocd-vault-plugin/releases/download/v$(AVP_VERSION)/argocd-vault-plugin_$(AVP_VERSION)_linux_arm64 -o argocd-vault-plugin &&
          chmod +x argocd-vault-plugin &&
          mv argocd-vault-plugin /custom-tools/
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools

  # -- Additional volumeMounts to the repo server main container
  volumeMounts: []

  # -- Additional volumes to the repo server pod
  volumes:
    - name: cmp-avp-plugin
      configMap:
        name: cmp-avp-plugin
    - name: custom-tools
      emptyDir: {}
    - name: vault-config
      secret:
        secretName: vault-configuration
        items:
          - key: vault-configuration.yaml
            path: vault-configuration.yaml

  # -- Resource limits and requests for the repo server pods
  resources:
    limits:
      cpu: 50m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

  
## ApplicationSet controller
applicationSet:
  # -- List of extra mounts to add (normally used with extraVolumes)
  extraVolumeMounts:
    - mountPath: /etc/ssl/certs
      name: tls-certs
  
  # -- Resource limits and requests for the ApplicationSet controller pods.
  resources:
    limits:
    #   cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

  # TLS certificate configuration via cert-manager
  ## Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/tls/#tls-configuration
  certificate:
    # -- Deploy a Certificate resource (requires cert-manager)
    enabled: false
    # -- Certificate primary domain (commonName)
    # @default -- `""` (defaults to global.domain)
    domain: "{{ argocd_alias }}.{{ universe.environment }}.{{ universe.domain }}"
    
## Notifications controller
notifications:
  # -- Resource limits and requests for the notifications controller
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi


